# App
PORT=3000
JWT_SECRET=change-me
JWT_TTL=1h

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=queue
DB_PASSWORD=queue
DB_NAME=queue_flow

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ
RABBIT_USER=queue
RABBIT_PASSWORD=queue
RABBIT_URL=amqp://queue:queue@localhost:5672

# Бизнес-логика
TICKET_CALL_TIMEOUT_SEC=120
